body {
    font-family: sans-serif;
    text-align: center;
}
.gameboard {
    border: 10px solid black;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    height: 600px;
    width: 700px;
    background-color: blue;
    border-radius: 5px;
}

button  {
    margin: 0 auto;

}

.circles {
    background-color: white;
    border: 5px solid black;
    border-radius: 50px;
    height: 80px;
    width: 80px;
    margin: 5px;
}

.playerRed {
    background-color: red;
}

.playerYellow {
    background-color: yellow;
}

