h1 {
    font-family: sans-serif;
    font-size: 300%;
}

#winner {
    font-family: sans-serif;
    font-size: 150%;

}

#turn {
    font-family: sans-serif;
    font-size: 100%;
}

body {
    font-family: sans-serif;
    text-align: center;
    background-image: url(https://wallpapercave.com/wp/wp3109778.jpg);
}
.gameboard {
    border: 10px solid black;
    display: flex;
    margin: 25px auto;
    flex-wrap: wrap;
    height: 600px;
    width: 700px;
    background-color: transparent;
    border-radius: 15px;
}

/* .firstpage {
    border: solid black;
} */

p {
    color: white;
}

#replayButton {
    margin: 5px;
    background-color: transparent;
    color: black;
    border-radius: 10px;
    font-family: sans-serif;
}

.circles {
    background-color: white;
    border: 5px solid black;
    border-radius: 50px;
    height: 80px;
    width: 80px;
    margin: 5px;
}

.playerRed {
    background-color: red;
}

.playerYellow {
    background-color: yellow;
}

