h1 {
    font-family: 'Gill Sans';
    font-size: 60px;
}

#winner {
    font-family: sans-serif;
    font-size: 30px;
}

#turn {
    font-family: sans-serif;
    font-size: 18px;
}

body {
    font-family: sans-serif;
    text-align: center;
    background-image: url(https://wallpapercave.com/wp/wp3109778.jpg);
}
.gameboard {
    border: 5px solid rgba(0,0,0,1);
    display: flex;
    margin: 25px auto;
    flex-wrap: wrap;
    height: 600px;
    width: 700px;
    box-shadow: 0px 0px 8px rgba(0,0,0,1);
    background-color: rgba(255,255,255,0.25);
    border-radius: 40px;
}

.circles {
    background-color: rgba(255,255,255,1);
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid rgba(0,0,0,1);
    height: 80px;
    width: 80px;
    margin: auto;
}

p {
    color: white;
    font-size: 125%;
}

#replayButton {
    margin: 5px;
    background-color: transparent;
    color: black;
    box-shadow: 0px 0px 8px rgba(0,0,0,1);
    border-radius: 10px;
    font-size: 15px;
    font-family: sans-serif;
}

#replayButton:hover {
    transform: scale(1.1);
}

.circles:hover {
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.playerRed {
    background-color: red;
}

.playerYellow {
    background-color: rgba(255,255,0,1);
}